<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>
</head>
<body>
    <h1>Certificado Information</h1>
    <p>ID: {{ certificado.id }}</p>
    <p>Evento ID: {{ certificado.evento_id }}</p>
    <p>Participante ID: {{ certificado.participante_id }}</p>
    <p>Autenticador ID: {{ certificado.autenticador_id }}</p>
    <p>Data Emissão: {{ certificado.data_emissao }}</p>
    <p>Código Verificação: {{ certificado.codigo_verificacao }}</p>
</body>
</html>
